<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sws="http://www.springframework.org/schema/web-services"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<sws:annotation-driven />

	<context:component-scan base-package="net.gfu.seminar.springws" />

	<!-- 
	-->
	<sws:dynamic-wsdl id="HelloWorldService2" portTypeName="HelloWorld"
		locationUri="/HelloWorldService" targetNamespace="http://helloworld.gfu.net/">
		<sws:xsd location="classpath:/types.xsd" />
	</sws:dynamic-wsdl>
	<!-- All WsdlDefinition bean definitions are exposed by the MessageDispatcherServlet under their bean id (or bean name) with the suffix .wsdl -->
<!-- 	<sws:static-wsdl id="HelloWorldService" location="classpath:/HelloWorld.wsdl"/> -->

	<sws:interceptors>
		<sws:payloadRoot namespaceUri="http://helloworld.gfu.net/types" localPart="helloRequest">
			<bean class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor"/>
			<bean class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor">
				<property name="schema" value="classpath:/types.xsd" />
				<property name="validateRequest" value="true" />
				<property name="validateResponse" value="false" />
			</bean>
		</sws:payloadRoot>
	</sws:interceptors>
	
<!-- 	
	<bean class="org.springframework.ws.server.endpoint.mapping.PayloadRootAnnotationMethodEndpointMapping">
        <description>An endpoint mapping strategy that looks for @Endpoint and @PayloadRoot annotations.</description>
    </bean>

    <bean class="org.springframework.ws.server.endpoint.adapter.MarshallingMethodEndpointAdapter">
        <description>Enables the MessageDispatchServlet to invoke methods requiring OXM marshalling.</description>
        <constructor-arg ref="marshaller"/>
    </bean>

    <bean id="marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller"
          p:contextPath="net.gfu.helloworld.types" />
 -->
</beans>