<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	
	<description>helloWorldSpring configuration file - student edition</description>
	
	<bean id="greeting" class="net.gfu.seminar.spring.helloworld.Greeting">
		<!-- set the property guest via the mutator/modifier method Greeting.setGuest(String) -->
		<property name="guest" ref="guest" />
	</bean>

	<bean id="guest" class="net.gfu.seminar.spring.helloworld.Guest" >
	    <!-- set the property name via the mutator/modifier method Guest.setName(String) -->
		<property name="name" value="Rainer Fall" />
	</bean>
	
</beans>