<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="welcome" name="reception" class="net.gfu.seminar.spring.helloworld.Greeting">
		<!-- set the property guest via the mutator/modifier method setGuest(String) -->
		<property name="guest" ref="specialGuest" />
	</bean>

	<bean id="guest" name="guest1,annaGramm" class="net.gfu.seminar.spring.helloworld.GuestImpl">
		<property name="name" value="Anna Gramm" />
	</bean>
	
	<bean id="specialGuest" name="guest2,hansDampf" class="net.gfu.seminar.spring.helloworld.SpecialGuest">
		<property name="name" value="Hans Dampf" />
	</bean>
	
</beans>