<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
	<description>Hello, world! Example configuration using setter DI</description>
	<bean id="welcome" class="net.gfu.seminar.spring.helloworld.Greeting">
	    <description>Spring bean representing the main entry point of the application</description>
		<!-- set the property guest via the mutator/modifier method setGuest(Guest) -->
		<property name="guest" ref="guest" />
	</bean>

	<bean id="guest" class="net.gfu.seminar.spring.helloworld.Guest" init-method="init">
	    <description>Spring bean representing a domain type - that's for testing purposes only</description>
	    <!-- set the values by calling the constructor GuestImpl(String , String ) -->
		<constructor-arg name="firstName" value="Anna"/>
		<constructor-arg name="lastName" value="Gramm"/>
	</bean>
	
</beans>