<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="greeting" class="net.gfu.seminar.spring.helloworld.Greeting">
		<!-- set the property guest via the mutator/modifier method setGuest(String) -->
		<property name="guest" ref="birthdayChild" />
	</bean>

	<bean id="guest" class="net.gfu.seminar.spring.helloworld.Guest">
		<property name="firstName" value="${firstName}" />
		<property name="lastName" value="${lastName}" />
	</bean>

	<bean id="specialGuest" class="net.gfu.seminar.spring.helloworld.SpecialGuest">
		<constructor-arg>
			<props>
				<prop key="firstName">Hans</prop>
				<prop key="lastName">Fall</prop>
			</props>
		</constructor-arg>
	</bean>

	<bean id="birthdayChild" class="net.gfu.seminar.spring.helloworld.BirthdayChild">
		<constructor-arg name="firstName" value="Rainer" />
		<constructor-arg name="lastName" value="Unsinn" />
		<constructor-arg value="24.12.1981" />
	</bean>

	<context:property-placeholder location="classpath:/guest.properties" />

	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="propertyEditorRegistrars">
			<list>
				<bean class="net.gfu.seminar.spring.helloworld.CustomDateEditorRegistrar"/>
			</list>
		</property>
	</bean>

</beans>