<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ldap="http://www.springframework.org/schema/ldap"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/ldap http://www.springframework.org/schema/ldap/spring-ldap.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:property-placeholder location="classpath:/ldap.properties"/>
	
	<ldap:context-source id="contextSource"
                         password="${sample.ldap.password}"
                         url="${sample.ldap.url}"
                         username="${sample.ldap.userDn}"
                         base="${sample.ldap.base}" />

    <!-- Populates the LDAP server with initial data -->
    <bean class="org.springframework.ldap.test.LdifPopulator" depends-on="embeddedLdapServer">
        <property name="contextSource" ref="contextSource" />
        <property name="resource" value="classpath:/setup_ldap.ldif" />
        <property name="base" value="${sample.ldap.base}" />
        <property name="clean" value="${sample.ldap.clean}" />
        <property name="defaultBase" value="dc=gfu,dc=net" />
    </bean>
	
	<!-- This is for test and demo purposes only - EmbeddedLdapServerFactoryBean 
		launches an in-process LDAP server. -->
	<bean id="embeddedLdapServer"
		class="org.springframework.ldap.test.EmbeddedLdapServerFactoryBean">
		<property name="partitionName" value="example" />
		<property name="partitionSuffix" value="${sample.ldap.base}" />
		<property name="port" value="18880" />
	</bean>

	<ldap:ldap-template id="ldapTemplate" context-source-ref="contextSource"/>

	<bean id="guestRepo" class="net.gfu.seminar.spring.ldap.GuestLdapRepo">
		<property name="ldapTemplate" ref="ldapTemplate" />
	</bean>
</beans>