<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<bean id="welcome" name="reception"
		class="net.gfu.seminar.spring.helloworld.Greeting">
		<constructor-arg ref="guestList"/>
	</bean>

	<util:list id="guestList" value-type="net.gfu.seminar.spring.helloworld.Guest">
		<ref bean="guest" />
		<ref bean="specialGuest" />
	</util:list>

	<bean id="guest" name="guest1,annaGramm"
		class="net.gfu.seminar.spring.helloworld.GuestImpl">
		<property name="name" value="Anna Gramm" />
	</bean>

	<bean id="specialGuest" name="guest2,hansDampf,vipGuest"
		class="net.gfu.seminar.spring.helloworld.SpecialGuest" >
		<constructor-arg><props><prop key="firstName">Hans</prop><prop key="lastName">Dampf</prop></props></constructor-arg>
	</bean>
</beans>