<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-autowire="byName"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="welcome" class="net.gfu.seminar.spring.helloworld.Greeting">
		<!-- set the property guest via the mutator/modifier method setGuest(String) -->
		<!-- <property name="guest" ref="guest" /> -->
	</bean>

	<bean id="guest1" name="guest"
		class="net.gfu.seminar.spring.helloworld.GuestImpl">
		<property name="name" value="Anna Gramm" />
	</bean>

	<bean id="guest2" name="guestA,guestB,guestC,otherGuest"
		class="net.gfu.seminar.spring.helloworld.GuestImpl" init-method="init">
		<property name="name" value="Hans Dampf" />
	</bean>

	<bean id="guest3" name="specialGuest"
		class="net.gfu.seminar.spring.helloworld.SpecialGuest">
		<constructor-arg>
			<props>
				<prop key="firstName">Hans</prop>
				<prop key="lastName">Fall</prop>
			</props>
		</constructor-arg>
	</bean>

</beans>