<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">

	<bean id="greeting" class="net.gfu.seminar.spring.helloworld.Greeting">
		<!-- set the property guest via the mutator/modifier method setGuest(String) -->
		<!-- <property name="guest" ref="guest" /> -->
	</bean>

	<bean id="guest1" name="annaGramm,guest"
		class="net.gfu.seminar.spring.helloworld.Guest">
		<property name="name" value="Anna Gramm" />
	</bean>

	<bean id="guest2" name="hansDampf,theOtherGuest"
		class="net.gfu.seminar.spring.helloworld.Guest" init-method="init">
		<property name="name" value="Hans Dampf" />
	</bean>

	<bean id="guest3" name="specialGuest,vip"
		class="net.gfu.seminar.spring.helloworld.SpecialGuest">
		<constructor-arg>
			<props>
				<prop key="firstName">Rainer</prop>
				<prop key="lastName">Unsinn</prop>
			</props>
		</constructor-arg>
	</bean>

</beans>