<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="greeting" class="net.gfu.seminar.spring.helloworld.Greeting" >
		<!-- passes the guest via the constructor  -->
		<constructor-arg ref="guest"/>
 	</bean> 
	
	<bean id="guest" class="net.gfu.seminar.spring.helloworld.GuestImpl">
	    <!-- passes the two string arguments to the constructor -->
		<constructor-arg name="firstName" value="Hans"/>
		<constructor-arg name="lastName" value="Dampf"/>
	</bean>

</beans>