<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="greeting" name="reception" class="net.gfu.seminar.spring.helloworld.Greeting">
		<!-- passes the guest via the setter method  -->
		<property name="guest" ref="guest"/>
 	</bean> 
	
	<bean id="guest" name="annaGramm" class="net.gfu.seminar.spring.helloworld.Guest">
	    <!-- passes the two strings to the setter methods -->
		<property name="firstName" value="Anna"/>
		<property name="lastName" value="Gramm"/>
	</bean>

</beans>